@import url("../lib/bootstrap/dist/css/bootstrap.css");

@import url("bootstrap-overrides.css");

@import url("animations.css");

.page-header {
    margin-top: -15px;
}

.page-header h3 {
    display: inline-block;
}

.photos .form-inline {
    display: inline-block;
    float: right;
    margin-top: 25px;
}

.masonry { /* Masonry container */
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
    -moz-column-gap: 30px;
    -webkit-column-gap: 30px;
    column-gap: 30px;
    position: relative;
}

@media only screen and (min-width: 300px) {
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 700px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media only screen and (min-width: 900px) {
    .masonry {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}

@media only screen and (min-width: 1100px) {
    .masonry {
        -moz-column-count: 5;
        -webkit-column-count: 5;
        column-count: 5;
    }
}

.item { /* Masonry bricks or child elements */
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
    position: relative;
}

.exif-container {
    max-height: 300px;
    height: inherit;
    overflow: auto;
}