<!-- The view for the photos page -->
<div class="page-header photos">
    <h3>Flickr Photos</h3>
    <form class="form-inline">
        <!-- Search form with simple directives - ng-model and ng-click -->
        <div class="form-group">
            <label for="searchTerms">Search Term&nbsp;&nbsp;</label>
            <input type="text" class="form-control" id="searchTerms" placeholder="Search Term" ng-model="flickr.searchTerm">
        </div>
        <button type="submit" class="btn btn-default" ng-click="ctrl.loadPhotos()">Search</button>
    </form>
</div>

<!-- Demonstrate ng-repeat -->
<div class="masonry">
    <div class="item" ng-repeat="photo in flickr.photos">
        <div class="thumbnail">
            <!-- Bindings -->
            <img ng-src="{{photo.thumbs[4].source}}" alt="{{photo.title}}">
            <div class="caption">
                <h4 ng-bind="photo.title"></h4>
                <p><a href="#/photos/{{photo.id}}" class="btn btn-primary" role="button">View Full-Size</a></p>
            </div>
        </div>
    </div>
</div>