<!-- The view for the photos page -->
<div class="page-header photos">
    <h3>Flickr <small>photos by interesting-ness</small></h3>
    <form class="form-inline">
        <!-- Search form with simple directives - ng-model and ng-click -->
        <div class="form-group">
            <input ng-model="flickr.searchTerm" type="text" class="form-control" id="searchTerms" placeholder="Search Term" >
        </div>
        <button ng-click="ctrl.findPhotos()" type="submit" class="btn btn-default">Search</button>
    </form>
</div>

<!-- Demonstrate ng-repeat -->
<div class="masonry">
    <div class="item" ng-repeat="photo in flickr.photos">
        <div class="thumbnail">
            <!-- Bindings -->
            <img ng-src="{{photo.url_s}}" alt="{{photo.title}}">

            <div class="caption">
                <h4 ng-bind="photo.title"></h4>
                <p>
                    <dl>
                        <dt>Views</dt>
                        <dd ng-bind="photo.views"></dd>
                        <dt>Date Taken</dt>
                        <dd ng-bind="photo.datetaken"></dd>
                        <dt>Location</dt>
                        <dd>{{photo.latitude}}, {{photo.longitude}}</dd>
                    </dl>
                    <!-- Exif data -->
                    <dl ng-show="photo.showExif" class="exif-container">
                        <dt>Camera</dt>
                        <dd ng-bind="photo.exifData.camera"></dd>
                        <div ng-repeat="exif in photo.exifData.exif">
                            <dt ng-bind="exif.label"></dt>
                            <dd ng-bind="exif.raw._content"></dd>
                        </div>
                    </dl>

                    <p class="text-center">
                        <a href="#/photos/{{photo.id}}" class="btn btn-primary" role="button">Full-Size</a>&nbsp;
                        <button class="btn btn-default" ng-click="ctrl.toggleExif(photo)">{{photo.showExif ? 'Hide' : 'Show'}} Exif</button>
                    </p>
                </p>
            </div>
        </div>
    </div>
</div>